:root {
    --background-blue: #1992d4;
    --background-gray: #e2e8f0;
}

html, body {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.1rem;
}

div {
    border: 1px solid;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    grid-row: 1 / -1;
    background-color: var(--background-blue) ;
    display: grid;
    gap: 40px;
    grid-template-rows: auto auto 1fr;
    padding: 10px;
}

.dashboard a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    color: white;
    font-size: 2rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

img {
    border-radius: 50%;
}

.welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.hello {
    align-self: end;
    font-weight: 400;
    font-size: .9rem;
}

.full-name{
    align-self: start;
}

.welcome img {
    height: 4rem;
    grid-area: 1 / 1 / 3 / 2;
    margin-right: 10px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.information img {
    height: 2rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
}

button {
    background-color: var(--background-blue);
    border: none;
    color: white;
    height: 2rem;
    width: 6rem;
    border-radius: 1rem;
}

.content {
    background-color: var(--background-gray);
}


