html, body {
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    grid-row: 1 / -1;
}