:root {
    --background-blue: #1992d4;
    --background-gray: #e2e8f0;
}

html, body {
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    grid-template-rows: 1fr 5fr;
}

.dashboard {
    grid-row: 1 / -1;
    background-color: var(--background-blue) ;
    display: grid;
    gap: 40px;
    grid-template-rows: auto auto 1fr;
    padding: 10px;
}

.dashboard a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    color: white;
    font-size: 2rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

img {
    border-radius: 50%;
}

.welcome img {
    height: 5rem;
}

.information img {
    height: 2rem;
}

.content {
    background-color: var(--background-gray);
}


